@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace, sans-serif;
}
body {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(340, 76%, 89%);
    text-align: center;
}

.navbar{
    background-color: hsl(57, 100%, 91%);
}

.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    gap: 3px;

}

.navbar li{
    margin: 0 3px;
}

.navbar a{
    color: rgb(240, 112, 106);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin: 0 15px;
    font-size: 1.1em;
    font-weight: bold;

}

.navbar a:hover{
    background-color: hsl(57, 100%, 85%);
}


.container {
    width:500px;
    border-radius: 7px;
    background: hsl(57, 100%, 91%);
}
.container h2{
    font-size: 25px;
    font-weight:500;
    padding:15px 20px;
    border-bottom: 1px solid #cccccc;
}
.container .content{
    margin: 25px 20px 35px;
}
.content .word{ 
    font-size: 33px;
    font-weight:500;
    text-align: center;
    letter-spacing: 24px;
    margin-right:24px; 
    text-transform: uppercase;
}
.content .details{
    margin: 25px 0 20px;
    margin-bottom: 20px;
}
.details p{
    font-size: 18px;
    margin-bottom:10px;
}
details b{
    font-weight:500;
}
.content input{
    width:100%;
    height:60px;
    outline:none;
    font-size:18px;
    padding:0 16px;
    border-radius:5px;
    border: 1px solid #cccccc
}
.content .buttons{
    display:flex;
    margin-top:20px;
    justify-content:space-between;
}

.user-word, .user-hint {
    width:100%;
    height:40px;
    margin: 5px 0;
    padding: 8px;
    font-size:16px;
    border-radius: 5px;
    border:1px solid #cccccc;
}
.buttons button{
    border:10px;
    outline:10px;
    padding: 15px 0;
    font-size:17px;
    border-radius: 5px;
    width: 48%
}
.buttons .refresh-word{
    background: rgb(240, 112, 106);
}
.buttons .check-word{
    background: rgb(240, 112, 106);
}
 button:hover {
    transform:scale(1.1);
}
.start-game{
    margin-top: 10px;
    width:100%;
    padding: 12px;
    font-size: 17px;
    background-color: #99f199;
    border:none;
    border-radius:5px;
}